img
{
    width:500px;
}
body
{
    text-align : center ;
    font-family : "serif";
    background: red;
    color: rgb(27, 26, 26);
}
head
{

font-family :"Verdana" ;
color : white

}